.forminf {
font-size: 10px;
width: 200px;
}

.input {
height: 17px;
border: #000000 1px solid;
margin: 0 4px 0 4px;
width: 125px;
padding: 0;
}

.textarea {
border: #000000 1px solid;
margin-right: 2px;
padding: 0;
}

.select {
border: #000000 1px solid;
}

.fset {
padding: 3px 0 0 0;
font-size: 14px;
}

.fset legend {
font-weight: bold;
font-size: 20px;

}

#loginf label {
font-size: 12px;
margin: 2px;
}

#loginf .input {
height: 17px;
border: #000000 1px solid;
}

.fbutton {
background: #DFFFDF;
color: #006600;
border: solid #006600 1px;
margin: 0 2px 0 2px;
padding: 2px;
}

#regbutton {
width: 59px;
}

#passwordf {
display: none;
margin: 5px;
}

#pinf {
display: none;
margin: 5px;
}