* {
border: 0;
margin: 0;
padding: 0;
list-style-type: none;
outline: 0;
}

:focus {
outline: 0;
}

table {
border-spacing: 7px;

}

body {
font-family: Arial, Helvetica, sans-serif;
}

#pagewrap{
margin: 0 auto;
width: 1024px;
}

#headsection {
position: relative;
top: 3px;
color: #006600;
border-style: solid;
border-width: 1px;
border-color: #000066;
background: #DFFFDF;
padding: 3px;
}

#login {
padding: 3px;
}

.welcome {
padding: 5px;
}

#nav {
display: none;
position: relative;
top: 4px;
float: left;
background-color: #DFDFFF;
margin: 5px;
margin-top: 0;
margin-left: 0;
border: solid 1px #000066;
}

#nav ul li {
position: relative;
}

#nav li ul {
position: absolute;
font-size: 14px;
left: 80px;
top: 0px;
display: none;
background: #DFDFFF;
border: solid 1px #000066;
}

#nav ul li a {
display: block;
text-decoration: none;
color: #000066;
padding: 5px;
}

#nav a:hover {
background: #0066CC;
color: #FFFFFF;
}

#nav li:hover ul {
display: block;
}

#content {
/*background-color: #FFFF00; for testing*/
display: none;
margin: 6px 0 0 0 !important;
}

#welcome {
/*background-color: #FFFF00; for testing*/
margin: 6px 0 0 0;
}

#content p {
text-align: justify;
}

.table {
border-collapse: collapse;
margin: 5px 0 0 0;
}

.table tr td {
padding: 5px;
}

.itemno {
background-color:#CCCCCC;
}

.tdeven {
/*background-color:#999999;*/
}

.tdodd {
background-color: #F2F2F2;
}
