/*Reset styles */

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3b444b;
}

address {
	font-style: normal;
	line-height: 18px;
}

form input,
form button {
	color: #a0a9b1;
}

/*end of reset styles*/

/* main styles */

#header {
	background: url('../images/headerBack.png') left top repeat-x;
	color: #a0a9b1;
}

#header #options {
	float: right;
	line-height: 22px;
	margin-right: 30px;
}

#header a {
	color: #a0a9b1;
	text-decoration: none;
}

#headerOptionsForm{
	float: left;
	padding-right: 11px;
}

#headerOptionsForm input[type="radio"] {
	display: none;
}

#headerOptionsForm input[type="radio"] + label span {
	display: inline-block;
	width: 8px;
	height: 10px;
	margin: 0px 8px;
	vertical-align: middle;
	background: url('../images/radioButtons.png') left top no-repeat;
}

#headerOptionsForm input[type="radio"]:checked + label span {
	background: url('../images/radioButtons.png') -8px top no-repeat;
}

#options #loginWrap {
	float: right;
}

#options #login {
	float: left;
}

#options #countrySelect {
	float: right;
	height: 22px;
}

#countrySelect .countryFlag {
	top: 5px;
}

#login a,
#countrySelect img {
	padding-right: 3px;
}

#headerInner #headerContent {
	clear: both;
	padding-top: 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;	
}

#headerContent h1,
#content h2,
#contact h2 {
	font-size: 24px;
	font-weight: normal;
}

#headerContent h1 {
	display: inline-block;
	margin-left: 30px;
}

#content h2 {
	text-shadow: -1px 1px 1px #CCC;
	margin: 15px 0 25px 0;	
}

.newReleaseContent h2 {
	margin: 30px 0 15px 0;
}
/* Nav menu styles */

#headerContent #nav {
	list-style: none;
	margin: 0 11px 0 24px;
	display: inline-block;
}

#nav li {
	position: relative;
	top: -2px;
	display: inline-block;
	width: 74px;
	height: 30px;
	text-align: center;
	margin-right: 6px;
	
	/*button gradient styling */
	background-color: #232b30;
	background: url('../images/buttonGradient.png') top left repeat-x;
	
	/*button 3d effect styling */
	border: 1px solid #273138;	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: inset 0 1px 0 0 #3d4850, 0 1px 0 0 #232b30;
	-webkit-box-shadow: inset 0 1px 0 0 #3d4850, 0 1px 0 0 #232b30;
	-moz-box-shadow: inset 0 1px 0 0 #3d4850, 0 1px 0 0 #232b30;
}

#nav li.one {
	width: 60px;
}

#nav li.two {
	width: 67px;
}

#nav li.selected {
	height: 32px;
	background: #252e34;
	border: 0;
	box-shadow: inset 5px 5px 10px 0 #1f272c, inset -5px -5px 10px 0 #1f272c;
	-webkit-box-shadow: inset 5px 5px 10px 0 #1f272c, inset -5px -5px 10px 0 #1f272c;
	-moz-box-shadow: inset 5px 5px 10px 0 #1f272c, inset -5px -5px 10px 0 #1f272c;
}


#nav li.selected a{
	line-height: 32px;
}

#nav li:hover:not(.selected) {
	/* gradient styling */
	background-color: #232b30;
	background: url('../images/buttonGradientHover.png') top left repeat-x;	
	box-shadow: inset 0 1px 0 0 #4c5a64, 0 1px 0 0 #232b30;
	-webkit-box-shadow: inset 0 1px 0 0 #4c5a64, 0 1px 0 0 #232b30;
	-moz-box-shadow: inset 0 1px 0 0 #4c5a64, 0 1px 0 0 #232b30;
}

#nav li.last {
	margin-right: 0;
}

#nav li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	line-height: 30px;
}

/* End of nav menu styles */

#headerContent .greySeparator {
	position: relative;
	top: 9px;
}

#searchForm , 
#checkOutForm {
	margin-left: 8px;
	display: inline-block;
	position: relative;
}

#searchInput {
	width: 144px;
}

.cartWrapper {
	position: relative;
	display: inline-block;
}

.cart {
	display: none;
	position: absolute;
	left: -156px;
	z-index: 99; /*carousel items automatically get a z-index so want to make sure that this z-index is higher */
	background: #252d33;
	padding: 0 6px;
	width: 280px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 5px;
	border-radius: 3px;
	box-shadow: 0 0 16px 0px #000;
}

.cart .cartItem {
	padding: 10px 18px 10px 4px;
}

.cart .cartItemImg {
	float: left;
	padding-right: 10px;
}

.cart .cartItemCopy {
	height: 64px;
	float: left;
	line-height: 12px;
}

.cartItemCopy .cartItemName,
.cartItemCopy .cartItemPrice {
	margin-bottom: 10px;
}

.cartItemCopy .cartItemReadMore {
	text-decoration: underline !important;
}

.cart .cartItemRemove {
	float: right;
	position: relative;
	top: 20px;
}

#content {
	clear: both;
	box-shadow: inset 0 10px 10px -10px #000000;
}

#contentInner {
	padding: 25px 30px 0 30px;
}

#cyclePager {
	text-align: center;
}

#cyclePager .pagerLink {
	display: inline-block;
	margin: 10px;
	text-decoration: none;
	width: 9px;
	height: 8px;
	background: url('../images/pagerBack.png') left top no-repeat;
}

#cyclePager .pagerLink.activeSlide {
	background: url('../images/pagerBackActive.png') left top no-repeat;
}

#newReleases #newReleaseTabs {
	list-style: none;
	border-bottom: #666 6px solid;
	box-shadow: 0 1px 0 0 #e5e5e5;
}

#newReleaseTabs li {
	display: inline-block;
	padding: 12px 15px;
	margin-right: 5px;
	color: #666;
	background: #f1f1f1;
	border-top-left-radius: 3px; 
	border-top-right-radius: 3px; 
}

#newReleaseTabs li.selected {
	color: #FFF;
	background: #666;
}

.newReleaseContent {
	padding-top: 15px;
}

.newReleaseContent .newReleaseHeroImages {
	text-align: justify;
}

.newReleaseContent .newReleaseHeroImages:after {
	content: '';
	width: 100%;
	display: inline-block;
}

.newReleaseContent .newReleaseHeroImg {
	width: 290px;
	height: 296px;
	display: inline-block;
	border: #f1f1f1 solid 1px;
	position: relative;
	padding: 8px;
}

.newReleaseContent .newReleaseHeroImg.last {
	margin-right: 0;
}

.newReleaseContent .newReleaseHeroImg img {
	width: 290px;
	height: 296px;
}

.newReleaseContent .newReleaseHeroImg .newReleaseHeroText {
	padding: 20px;
	position: absolute;
	top: 8px;	
	width: 250px;
	background: #FEFEFE;
}

.newReleaseContent .newReleaseHeroImg.one .newReleaseHeroText {
	top: 130px;
}

.newReleaseContent .newReleaseHeroImg.two .newReleaseHeroText {
	top: 205px;
}

.newReleaseContent .newReleaseHeroImg.three .newReleaseHeroText {
	top: 45px;
}

.newReleaseCopy {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-gap: 45px;
	-moz-column-gap: 45px;
	-webkit-column-gap: 45px;
	padding-bottom: 50px;
}

.newReleaseCopy p {
	margin-bottom: 30px;
}

footer {
	background: #3b444b;
	color: #e8e8e8;
	box-shadow: inset 0 10px 10px -10px #000000;
}

#contact{	
	padding: 30px 30px 35px 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: justify;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact .contactItem {
	display: inline-block;
	vertical-align: top;
}

.contactItem .socialItem.facebook {
	height: 26px;
	line-height: 26px;
	padding: 0 0 20px 44px;
	background: url('../images/facebookLogo.png') left top no-repeat;
}

.contactItem .socialItem.twitter {
	height: 24px;
	line-height: 24px;
	padding-left: 44px;
	background: url('../images/twitterLogo.png') left top no-repeat;
}

#contact:after {
	content: '';
	width: 100%;
	display: inline-block;
}

#copyRightHolder {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 10px 30px;
}

/* end of main styles */