/* main layout styles */

#contact,
#footerDivide,
#copyRightHolder,
#header #headerInner {
	width: 1020px;
	margin: 0 auto;
}

#contentInner {
	width: 960px;
	margin: 0 auto;
}

#header #options {
	height: 22px;
}

#header #headerContent {
	height: 62px;
}

#content #gallery {
	width: 960px;
}

/* end of main layout styles */