#examples {
    height: calc(100vh - 140px);
}

#examples .examples-container {
  	position: relative;
  	margin: auto;
}

#examples .example-slide .controls {
	display: none;
}

#examples .example {
	width: 820px;
	height: 510px;
	position: relative;
	margin: 0 auto;
}

#examples .example .exampleCaption {
	background: rgba(0, 0, 0, 0.5);
	padding: 1em;
	margin: 2em;
	position: absolute;
	bottom: 2em;
}

#examples .example-slide {
  	display: none;
}

#examples .example-slide:first-child {
	display: block;
}

#examples .example-control {
	background: transparent;
  	cursor: pointer;
  	position: absolute;
  	top: calc(50% - 45px);
  	width: auto;
  	border: none;
  	transition: transform .5s;
}

#examples .example-next:hover {
	transform: translateX(5px);
}

#examples .example-prev:hover {
	transform: translateX(-5px);
}

#examples .example-prev {
	left: 0;
}

#examples .example-next {
	right: 0;
}

#examples .fade {
  	-webkit-animation-name: fade;
  	-webkit-animation-duration: 1.5s;
  	animation-name: fade;
  	animation-duration: 1.5s;
}

@-webkit-keyframes #examples fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes #examples fade {
  from {opacity: .4}
  to {opacity: 1}
}