/* Desktop browsers */

#wrap {
width: 991px;
}

#contact {
float: right;
position: relative;
right: 26px;
top: 29px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.workex {
float: left;
width: 821px;
height: 510px;
}

.mobileShowHide {
	display: none;
}

/*Styles for devices with a Retina-y display regardless of rotation.*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 320px), only screen and (-min-device-pixel-ratio: 1.5) and (max-width: 320px){	
	#wrap {
	width: 320px;
	}
	
	#banner{
	background-position: center;
	}

	#contact {
	display: none;
	}
	
	.cycleCtrl{
	display:none;
	}

	.workex {
	background-color: #ffffff;
	background-position: top left;
	float: none;
	width: 99%;
	height: 510px;
	}
	
	.workimgtxt {
	margin-left: 0;
	top: 55%;
	}
	
	#mobile{
		display: none;
	}
}

/*Styles for devices with a Retina-y display regardless of rotation but when the screen is wider.*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 480px), only screen and (-min-device-pixel-ratio: 1.5) and (max-width: 480px){	
	#wrap {
	width: 480px;
	}
	
	#banner{
	background-position: center;
	}

	#contact {
	display: none;
	}
	
	.cycleCtrl{
	display:none;
	}

	.workex {
	background-color: #ffffff;
	background-position: top left;
	background-size: 100%;
	float: none;
	width: 99%;
	height: 510px;
	}
	
	.workimgtxt {
	margin-left: 0;
	top: 55%;
	}
	
	.mobileShowHide {
		display: block;
	}
}

/*Styles for iPhone or similar with a Retina-y display when rotated in portrait fashion.*/
@media only screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 320px), only screen and (orientation: portrait) and (-min-device-pixel-ratio: 1.5) and (max-width: 320px){	
	#wrap {
	width: 320px;
	}
	
	#banner{
	background-position: center;
	}

	#contact {
	display: none;
	}
	
	.cycleCtrl{
	display:none;
	}

	.workex {
	background-color: #ffffff;
	background-position: top left;
	float: none;
	height: 197px;
	width: 100%;
	}
	
	.workimgtxtwrap {
		top: 0;
		width: 100%;
	}
	
	#mobile{
		display: none;
	}
}

/*Styles for iPhone or similar with a Retina-y display when rotated in landscape fashion.*/
@media only screen and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 480px), only screen and (orientation: landscape) and (-min-device-pixel-ratio: 1.5) and (max-width: 480px){	
	#wrap {
	width: 480px;
	}
	
	#banner{
	background-position: center;
	}

	#contact {
	display: none;
	}
	
	.cycleCtrl{
	display:none;
	}

	.workex {
	background-color: #ffffff;
	background-position: top left;
	background-size: 100%;
	float: none;
	width: 320px;
	height: 197px;
	}
	
	.workimgtxt {
		width: 100%;
	}
	
	.workimgtxtwrap {
	top: 0;
	width: 315px;
	}

	#mobile{
		display: none;
	}
}