body {
background: #FFFFFF;
}

#banner {
background: url('../images/no_css3_back_01.png') top left no-repeat;
}

#wrap {
background: url('../images/no_css3_back_02.png') top left repeat-y;
border-bottom: solid 1px #000000;
}