#wrap {
width: 600px;
}

#contact {
float: right;
position: relative;
top: 20px;
right: 26px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#contact #details {
margin-bottom: 5px;
}

.workex {
background-color: #ffffff;
}